<?xml version="1.0"?>
<config>
  <general>
	<sigfile>./config/signatures/</sigfile>
	<sigstrict>1</sigstrict>
	<tcpstrict>1</tcpstrict>
	<pcapfilter>ip</pcapfilter>
	<pcapdevice>em0</pcapdevice>
	<inline>0</inline>
	<inlineport>2222</inlineport>

	<!-- how many processed packets to keep in memory -->
	<packetbuffer>1000</packetbuffer>

	<security>
		<run_as_user enable="1">nobody</run_as_user>
		<chroot_dir  enable="0">/var/chroot</chroot_dir>
	</security>
  </general>

  <logging>
	<verbosity>1</verbosity>
	<syslog>0</syslog>
	<stdout>1</stdout>
	<showtraffic>0</showtraffic>

	<logfile enable="1" level="alert">
		<filename>./logdir/alert.log</filename>
	</logfile>

	<logfile enable="1" level="info">
		<filename>./logdir/info.log</filename>
	</logfile>

	<dump_packet enable="0">
		<output_dir>./logdir/</output_dir>
	</dump_packet>
  </logging>

  <control_thread>
	<http enable="1" port="3491" ip="127.0.0.1">
		<user>user</user>
		<pass>pass</pass>
	</http>
	<html_footer>support/html/footer.html</html_footer>
	<html_header>support/html/header.html</html_header>

	<timer>
		<print_stats>10</print_stats>
		<cleanup_tcp>3600</cleanup_tcp>
		<cleanup_ipfrags>10</cleanup_ipfrags>
		<cleanup_packetbuffer>5</cleanup_packetbuffer>
	</timer>
  </control_thread>
</config>

